
<section class="customer-order-wrapper">
  <h2 class="menu-title">ORDEN</h2>
  <form class="form-container" [formGroup]="OrderForm" (ngSubmit)="sendOrder(OrderForm.value, result, todaydate)" method="post">
  <div class="input-container">
    <div class="form-order-inputs-1">
      <label class="cliente-name">Nombre de cliente:</label>
      <p><input type="text" formControlName="customerName" class="form-control" placeholder="Nombre"/></p>
    </div>
    <div class="form-order-inputs-2">
      <label>Mesa #:</label>
      <p><input type="number" formControlName="table" class="form-control" placeholder="00" /></p>
    </div>
    <div class="form-order-inputs form-order-inputs-3">
      <input type="checkbox" formControlName="delivery" id="checkbox-delivery" class="form-control" />
      <label for="checkbox-delivery">Delivery</label>
    </div>
  </div>
    <!-- <p>{{ customerName }}</p> -->
    <!-- <p class="date">{{ todaydate }}</p> -->
    <div class="list-container">
      <ul class="title-list">
        <li>Producto</li>
        <li>Cantidad</li>
        <li>Precio</li>
        <li>Reducir</li>
        <li>Borrar</li>
      </ul>
    <ul class="customer-order-list">
      <li class="customer-order-list-item" *ngFor="let item of result">
        <span>{{ item.product }}</span>
        <span> {{ item.quantity }}</span>
        <span>S/. {{ item.subtotal }}</span>
        <button (click)="reduceProduct(item)"><i class="fas fa-minus-circle"></i></button>
        <button (click)="deleteProduct(item)"><i class="fas fa-ban"></i></button>
      </li>
    </ul>
    </div>
    <div class="total">
      <p>Total: S/. {{ getTotal(result) }}</p>
    </div>
    <div class = "btn-container">
    <button type="button" class="form-btn cancel-order" (click)="cancelOrder()">
      Cancelar Orden
    </button>
    <button class="form-btn send-order-to">Enviar a Cocina</button>
    </div>
  </form>
</section>
